@charset "UTF-8";

.about-page .profile-card {
    width: 50%;
    margin: 0 auto;
}

.about-page .profile-pic {
    max-width: 150px;
    left: 5px;
    top: -110px;
    margin: 0;
}

.about-page .profile-info h2 {
    display: block;
    margin-top: 60px;
}

.about-page .profile-info {
    text-align: left;
}

.about-page .profile-info h2:before {
    position: inherit;
}

.about-page .profile-info .name {
    font-size: 22px;
}

.about-page .profile-txt {
    font-size: 16px;
}

.about-page .profile-info .profile-txt a {
    display: flex;
    align-items: center;
    color: #BDBDBD;
}

.about-page .profile-photo {
    display: block;
    position: relative;
    width: 150px
}

.about-page  .profile-cover-link {
    position: relative;
}

.about-page .fa-camera {
    position: absolute;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    background-color: #BDBDBD;
    border-radius: 50%;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    top: -2px;
    right: 0;
    z-index: 2;
}

.about-page .profile-cover-link .fa-camera {
    top: -23px;
    right: 15px;
}

.about-page .profile-card:hover .profile-pic {
    transform: inherit;
}

@media (max-width: 960px) {
    .about-page .profile-card {
        width: 65%;
    }

    .about-page .profile-pic {
        width: 120px;
        top: -97px;
    }

    .about-page .fa-camera {
        width: 25px;
        height: 25px;
        padding-top: 6px;
        top: -12px;
        right: 27px;    
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 640px) {
    .about-page .profile-card {
        width: 90%;
    }

    .about-page {
        margin-top: 114px;
    }

    .about-page .profile-pic {
        width: 100px;
        top: -86px;
    }

    .about-page .fa-camera {
        width: 20px;
        height: 20px;
        padding-top: 5px;
        top: -14px;
        right: 47px;
        font-size: 10px;
    }

    .about-page .profile-cover-link .fa-camera {
        top: -14px;
    }

    .about-page .profile-info h2 {
        margin-top: 37px;
    }

    .about-page .profile-info .name {
        font-size: 18px;
    }

    .about-page .profile-txt,
    .about-page .profile-info .profile-txt a {
        font-size: 13px;
    }

}